/*Aquí llamamos la tipografía desde Google Fonts. Luego veremos cómo hacer esto con cualquier tipografía en otros repositorios*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

body {
  background-color: darkred;
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
 margin-right: 24px;
   width: 100vw;
}


header .menu-sup-cen .menunav > li {
    display: inline-block;
    vertical-align: middle;
  
}

.menu_container{
  margin: 15px;
    position: relative;
    display: flex;
}

#inicio{
 display: flex;
}

#menu-derecha{
    position: absolute;
    right: 4.5px;
}

ul {
display: block;
margin-block-start: 2px;
margin-block-end: 2px;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h2 {
  background-color: darkred;
  size-adjust: initial; 
  
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 250;
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

#contenido {
  width: 60%;
  height: 100%;
  margin: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.texto {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: blueviolet;
}

button {
  position: relative;
  padding: 12px 20px;
  font-size: 50px;
  background: rgb(88, 50, 13);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

button:hover {
  background: #333;
}

#Titulodelapag {
  color: beige;
  position: fixed;
  left: 44%;
  top: -5px;
  white-space: nowrap;
  font-size: 18px;

}

#Textocapitulos {
  width: 45%;
  height: 100%;
  margin: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-line;
  background-color: beige;
  text-justify: auto;
  text-align:center

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor {
  text-align: center;
}

.rueda {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid black;

  background: repeating-conic-gradient(
    #111 0deg 8.571deg,
    #eee 8.571deg 17.142deg
  );

    transition: transform 0.2s;

}

.puntero {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid black;
  margin: 0 auto;
}

input[type="range"] {
  width: 300px;
}

.caja {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  background-color: beige;
  padding: 10px;
  overflow-y: scroll;
  white-space: nowrap;
  white-space: pre-line;
}

.lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.lista li {
  margin: 3px 0;
}

.lista a {
  text-decoration: none;
  color: black;
}

.lista a:hover {
  text-decoration: underline;
}

.titulo {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}