/*Aquí llamamos la tipografía desde Google Fonts. Luego veremos cómo hacer esto con cualquier tipografía en otros repositorios*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

body {
  background-color: darkred;
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
 margin-right: 24px;
   width: 100vw;
}


header .menu-sup-cen .menunav > li {
    display: inline-block;
    vertical-align: middle;
  
}

.menu_container{
  margin: 15px;
    position: relative;
    display: flex;
}

#inicio{
 display: flex;
}

#menu-derecha{
    position: absolute;
    right: 4.4px;
}

ul {
display: block;
margin-block-start: 2px;
margin-block-end: 2px;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h2 {
  background-color: darkred;
  size-adjust: initial; 
  
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 250;
  margin: 0;
  position: absolute;
  font-size: 25px;
  top: 3%;
  left: 3%;
  transform: translateX(-50%) translateY(-50%);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

#contenido {
  width: 60%;
  height: 100%;
  margin: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.texto {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: blueviolet;
}

.contenedor-imagen {
  border-style: solid;
  border-color: rgb(111, 82, 82);
  border-width: 1px;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
